html {
  background-color: #fff;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2.25rem;
  border-radius: 6px;
}*/

main {
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.sidebar {
  top: 51px;
  left: 0;
  bottom: 0;
}

.bg-teal {
  background-color: rgb(0, 150, 136);
}

.bg-amber {
  background-color: rgb(255, 192, 7);
}

navigation {
  height: 51px;
}

.farm-sidebar {
  min-width: 33%;
}

.navigation, .footer {
}

a {
  color: #666;
}

.bg-eggs {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/img/eggs.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:0px 0px;
}

#map-container {
  /*position: fixed;*/
  top: 50px;
  right: 0;
  left: auto;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  width: 60%;
}

#map {
  width: 100%;
  height: 100%;
}

.FarmPage #map {
  height: 220px;
  z-index: 1;
}

.FarmPage-card {
  margin-top: 180px;
}

.FarmPage #map-container {
  /*position: relative;*/
}

footer {
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}

.HomePage .mdl-radio__outer-circle {
  border-color: white;
}

.HomePage .mdl-textfield__input {
  border-color: white;
}

.HomePage .mdl-checkbox__box-outline {
  border-color: white;
}

.HomePage .mdl-textfield__label {
  color: rgba(255, 255, 255, .58);
}

